body{
  font-family: Arial;
  background:#0f172a;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  color:white;
}

.container{
  background:#111827;
  padding:30px;
  border-radius:12px;
  width:350px;
  box-shadow:0 0 25px rgba(0,0,0,0.6);
}

h2{
  text-align:center;
  margin-bottom:20px;
}

input, select{
  width:100%;
  padding:10px;
  margin:10px 0;
  border-radius:6px;
  border:none;
  background:#1f2937;
  color:white;
  font-size:14px;
  transition:0.2s;
}

input:focus, select:focus, textarea:focus{
  outline:none;
  border:2px solid #06b6d4;
}

textarea{
  width:100%;
  height:120px;
  padding:10px;
  border-radius:6px;
  border:none;
  background:#1f2937;
  color:white;
  margin-top:10px;
  resize:none;
}

button{
  width:100%;
  padding:12px;
  background:#06b6d4;
  border:none;
  border-radius:6px;
  color:white;
  font-size:16px;
  cursor:pointer;
  margin-top:15px;
  transition:0.3s;
}

button:hover{
  background:#0891b2;
}

#msg{
  text-align:center;
  margin-top:12px;
  font-weight:bold;
}

