body{
  background:#0f172a;
  color:white;
  font-family:Arial;
}
/* NAVBAR css */
.main-navbar {
  height: 65px;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.05);
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* LEFT */
.brand {
  font-size: 22px;
  font-weight: 600;
  color: #2c3e50;
}

/* RIGHT */
.nav-right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-link {
  text-decoration: none;
  color: #34495e;
  font-weight: 500;
  transition: 0.3s ease;
}

.nav-link:hover {
  color: #4e73df;
}

/* LOGOUT BUTTON */
.logout-btn {
  padding: 8px 18px;
  border: none;
  border-radius: 8px;
  background: #eef2ff;
  color: #2c3e50;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
}

.logout-btn:hover {
  background: #dbe4ff;
}


.title{
  text-align:center;
}

.card{
  background:#1f2937;
  margin:10px auto;
  padding:15px;
  width:350px;
  border-left:8px solid red;
  border-radius:6px;
}

.done{
  border-left:8px solid limegreen;
}

button{
  margin-top:8px;
  padding:6px 12px;
  border:none;
  border-radius:6px;
  cursor:pointer;
}
